<template>
  <div>
   <!-- <ComputedView /> -->
   <GetterSetter/>
  </div>
</template>

<script>
// import ComputedView from './components/ComputedView.vue';
import GetterSetter from './components/GetterSetter.vue';
export default {
    name:'App',
    components : {
      //ComputedView,
      GetterSetter,
    },
  }
</script>